/*start font*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=sw');
/*end font*/
/*start body*/
body {
color: rgba(5, 4, 73, 0.87);
font-family:  Roboto,Helvetica, sans-serif;
font-size: 16px;
line-height: 1.5em;
margin: 0;
padding: 0;
}
/* end body */
/* start debug */
.bg-blue {
    background-color: darkcyan;
}
.bg-red {
    background-color: darkkhaki
}
/* end debug */
/* start container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/*end container*/

/*start logo*/
  .logo {
      text-align: center;
}
/*end logo*/

/*start menu primer*/
.menu-primer ul {
    background-color: coral;
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px rgba(209, 165, 71,1),
        0 6px 10px 0 rgba(94, 89, 25, 1),
        0 1px 18px 0 rgba(117, 135, 105,1);
}
.menu-primer li {
    border-right: 1px solid #d1d5da;
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a {
    color:130, 235, 61;
    font-size : 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;

}

.menu-primer a:hover {
    background-color: darksalmon;
    color: aquamarine;
    text-decoration: none;
}

.menu-primer .active {
    background-color: darkslategray;
    color: darkcyan;
    text-decoration:none;
}
/*end menu primer*/
/*start heading*/
h1,h2,h3,h4,h5,h6,{
    font-weight: 400;
    letter-spacing: 1px;

}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}


/*end heading*/

/*start jumbotron*/
.jumbotron {
    background-color: darkseagreen;
    border: 1px solid #d1d1da;
    border-radius: 4px;
    padding: 2px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/*end jumbotron*/

/*start main*/
.main-home-one{
    float: left;
    width: 70%;

}
.main-home-two{
    float: right;
    width: 29%;
}
.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 140px;
}
.main-one{
    float: left;
    overflow: auto;
    width: 70%;

}
/*end main*/
/*start sidebar*/
.sidebar-two{
    float: right;
    overflow: auto;
    width: 29%;

}
/*end sidebar*/
/*start box*/
.box-heading{
    background-color: cornsilk;
    border: 1px solid #d1d1da;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;

}
.box-heading h4{
    font-size: 14px;
    margin: 0;

}
.box-isi{
    background-color: rgb(182, 150, 21);
    border: 1px solid #eeaacc;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;  
}
/*end box*/
/*start testimonial*/
.testimonial{
    border-left: 4px solid 68, 141, 166;
    margin-left: 30px;
    padding: 30px;
}
/*end testimonial*/
/*start layanan table*/
.layanan-table{
    border-left: 4px solid 68, 141, 166;
    border-collapse: collapse;
    margin:auto;
    width: 100%;
}
.layanan-table th{
    background-color: aqua;
}
.layanan-table td{
    text-align: center;
}
/*end layanan table*/
/*star form*/
input[type="text"],
input[type="email"],
textarea{
    font-size: 14px;
    padding: 10px;
}
input::placeholder,
textarea::placeholder{
    color: darkolivegreen;
    font-weight: 300;
}
input[type=submit],
.button {
    background-color: 168, 162, 50;
    background-image: linear-gradient(-180deg, #fafafc 0%, #eff3f6 90%);
    border :  1px solid rgba (27,31,35,0,2);
    border-radius: 4px;
    color :168, 135, 50 !important;
    font-size: 12px;
    font-weight:bold;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none !important;
    text-transform:uppercase;
    letter-spacing: 1px;
}
/*end form*/

/*start contact form*/
.contact-form div {
    margin: 20px 0;
}
/*end contact form*/
/*start menu sekunder*/
.menu-sekunder{
    background-color: rgba(14, 226, 67, 0.979);
    border-bottom: 1px solid 65, 252, 3;
    border-top: 1px solid 3, 252, 103;
    overflow: auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}
.menu-sekunder h4{
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul{
    padding: 0;
}
.menu-sekunder li{
    list-style: disc;
}
.menu-sekunder li a,
.menu-sekunder p{
    font-size: 15px;
}
.menu-sekunder-one,
.main-sekunder-two,
.main-sekunder-three{
    display: block;
    /* width: 30%; */
    padding: 0 30px;
}
/* .menu-sekunder li img{
    vertical-align: middle;
} */
/*end menu sekunder*/
/*start copyright*/
.copyright p{
    font-size: 15px;
}

/*end copyright*/

/*start anchor / hyperlink*/
a: link,
a:visited {
    color:#82eb3d130, 235, 61;
    text-decoration:none;

}
a:hover,
a:active {
    color:#ebdd3d235, 221, 61;
    text-decoration: underline;

}
/*end anchor / hyperlink*/
